.information_photo
    &__wrapper
        display: grid
        grid-template-columns: repeat(auto-fit, 370px)
        grid-gap: 28px
        margin-bottom: 90px

    &-block
        position: relative

    &__img
        width: 370px
        height: 410px
    
    &__text
        position: absolute
        left: 0
        text-align: left
        padding-top: 25px
        padding-left: 25px
        font-size: 16px
        line-height: 23px
        font-weight: 300
        color: #000000

.bold
    font-size: 16px
    line-height: 23px
    font-weight: 500
    color: #000000

@media (max-width: 1200px)
    .information_photo
        &__wrapper
            margin-bottom: 80px
            display: grid
            justify-items: center
            align-items: center
            grid-template-columns: none

@media (max-width: 768px)
    .information_photo
        &__wrapper
            margin-bottom: 80px
            display: grid
            justify-items: center
            align-items: center
            grid-template-columns: none

        &__img
            width: 272px
            height: 300px

        &__text
            font-size: 12px
            line-height: 17px
            padding: 20px 15px

    .bold
        font-size: 12px
