*
    box-sizing: border-box
    font-family: 'Roboto'

body
    font-family: sans-serif

img
    max-width: 100%

.container
    max-width: 1170px
    width: 100%
    margin: auto
    min-width: 320px

.button
    border-radius: 10px
    background-color: $main-color
    border: none
    padding: 18px 30px
    cursor: pointer
    transition: background .2s 
    &:hover
        background-color: #fbc02d

.input
    border: 1px solid $input-color
    border-radius: 10px
    outline: 0
    padding: 25px 

@media ( max-width: 1200px)
    .container
        width: 760px
        padding: 0 10px


@media ( max-width: 768px)
    .container
        max-width: 580px
        width: 95%
        padding: 0 10px

    .main-block
        display: flex
        flex-direction: column

    .section
        padding-top: 60px
        padding-bottom: 60px
    
