.main
    background-color: $container-color

    &__title
        font-size: 41px
        font-weight: 700
        margin-top: 0
        margin-bottom: 45px
        color: $text-color

    &-block
        display: flex
        justify-content: space-between

    &__text 
        width: 50%
        padding-top: 80px

    &-inf
        display: flex
        justify-content: left
        flex-direction: column
        
        &__item  
            display: flex
            align-items: center
            position: relative
            
        &__text
           margin-bottom: 15px
           position: absolute
           padding-left: 70px
           font-size: 14px
           line-height: 24px
           font-weight: 300
           color: #333333

        &__img
            border: 3px solid
            border-color: $border-color
            border-radius: 50px
            margin-bottom: 20px
            padding: 8px
        
    &__image
        width: 570px
        height: 488px
        margin-top: 45px
        margin-bottom: 45px

    &__subtitle
        font-size: 20px
        font-weight: 700
        margin-bottom: 65px
        margin-top: 0
        display: block
        color: $text-color

    &__text
        display: flex
        flex-direction: column

@media (max-width: 1200px)
    .main
        &-block
            flex-direction: column

        &__text
            width: 100%

@media (max-width: 768px)
    .main
        &__image
            width: 270px
            height: 231px

        &__title
            font-size: 24px
            line-height: 1.2

        &__subtitle
            font-size: 16px
            line-height: 1.2

        &__text
            width: 100%

        &-inf-item
            margin-bottom: 20px  

