.photos
    background: #f5f5f5 url(../img/photos_image.png) repeat-y center left
    background-size: 50%
    padding: 90px 0

    &-title
        font-size: 30px
        font-weight: 700
        color: $text-color
        text-align: center

.photos-block-grid 
    display: grid
    grid-template-columns: repeat(auto-fit, 370px)
    grid-gap: 28px
    margin-top: 98px


.photos-grid 
    width: 370px
    height: 280px

p
    margin: 0

.arrows
    text-align: center
    margin-top: 65px

.arrow
    width: 45px
    height: 19px

.arrow-right
    transform: rotate(180deg)
    margin-left: 10px

@media ( max-width: 768px )
    .photos
        background: #f5f5f5
        background-size: 100%
        padding: 50px 0

        &-title
            font-size: 18px
            line-height: 1.2
            font-weight: 700
            color: #333333

        &-grid
            width: 246px
            height: 186px

        &-block-grid 
            margin-top: 40px
            display: inline-block
            text-align: center

    .arrows
        text-align: center
        margin-top: 50px
    