.photos
    background: #f5f5f5 url(../img/photos_image.png) repeat-y center left
    background-size: 50%
    padding: 90px 0

    &__title
        font-size: 30px
        font-weight: 700
        color: $text-color
        text-align: center
        margin-bottom: 100px

.slider
    &__item
        margin: 15px

    &__img
        margin: auto

.arrows
    &__left, &__right
        &:hover
            cursor: pointer

.photos__arrows
    max-width: 120px
    margin: auto
    margin-top: 68px
    display: flex
    justify-content: space-between

.arrows__left
    width: 45px
    height: 19px

.arrows__right
    transform: rotate(180deg)
    margin-left: 10px
    width: 45px
    height: 19px

@media ( max-width: 1200px)
    .photos
        padding-top: 45px
        padding-bottom: 60px

        &__title
            font-size: 18px
            margin-bottom: 0

        &__arrows
            margin-top: 0

    .slider
        &__img
            padding: 50px 0

@media ( max-width: 768px)
    .photos
        padding-top: 45px
        padding-bottom: 60px

        &__title
            font-size: 18px
            margin-bottom: 0

        &__arrows
            margin-top: 0

    .slider
        &__img
            padding: 50px 0
    