.steps
    &-title
        font-size: 30px
        font-weight: 700
        color: $text-color
        text-align: center

    &-subtitle
        font-size: 20px
        font-weight: 100
        color: $subtitle-color
        text-align: center
        margin: 55px 0
    
    &-block-flex
        display: flex
        justify-content: space-between

    &-img
        margin-bottom: 60px

    &-block-img
        text-align: center

    &-text
        text-align: center