* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 95%;
    padding: 0 10px;
  }
  .main-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
}

.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar__button {
  margin-left: 30px;
  cursor: pointer;
}

.navbar__button:hover {
  background-color: #fbc02d;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  margin-top: 10px;
  color: #333333;
}

.logo {
  width: 155px;
  height: 75px;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 15px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
}

.title {
  font-size: 41px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 45px;
  color: #333333;
}

.main {
  background-color: #f5f5f5;
}

.main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-text {
  width: 50%;
  padding-top: 80px;
}

.main-inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-inf-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.main-inf__text {
  margin-bottom: 15px;
  position: absolute;
  padding-left: 70px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #333333;
}

.main-inf__img {
  border: 3px solid;
  border-color: #ffd200;
  border-radius: 50px;
  margin-bottom: 20px;
  padding: 8px;
}

.main-image {
  width: 570px;
  height: 488px;
  margin-top: 45px;
  margin-bottom: 45px;
}

.subtitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 65px;
  margin-top: 0;
  display: block;
  color: #333333;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  .main-image {
    width: 270px;
    height: 231px;
  }
  .title {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: #333333;
  }
  .subtitle {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    color: #333333;
  }
  .main-text {
    width: 100%;
  }
  .main-inf-item {
    margin-bottom: 20px;
  }
}

.photos {
  background: #f5f5f5 url(../img/photos_image.png) repeat-y center left;
  background-size: 50%;
  padding: 90px 0;
}

.photos-title {
  font-size: 30px;
  font-weight: 700;
  color: #333333;
  text-align: center;
}

.photos-block-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (370px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 370px);
  grid-gap: 28px;
  margin-top: 98px;
}

.photos-grid {
  width: 370px;
  height: 280px;
}

p {
  margin: 0;
}

.arrows {
  text-align: center;
  margin-top: 65px;
}

.arrow {
  width: 45px;
  height: 19px;
}

.arrow-right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-left: 10px;
}

@media (max-width: 768px) {
  .photos {
    background: #f5f5f5;
    background-size: 100%;
    padding: 50px 0;
  }
  .photos-title {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    color: #333333;
  }
  .photos-grid {
    width: 246px;
    height: 186px;
  }
  .photos-block-grid {
    margin-top: 40px;
    display: inline-block;
    text-align: center;
  }
  .arrows {
    text-align: center;
    margin-top: 50px;
  }
}

.services {
  background: url("../img/services_image.png") no-repeat;
  background-position: center right;
  background-size: contain;
  padding: 90px 0;
  position: relative;
  max-width: 1536px;
  margin: auto;
}

.services::before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}

.services-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.services-title {
  font-size: 24px;
  font-weight: 700;
  color: #333333;
  line-height: 35px;
}

.services-image {
  width: 959px;
  height: 595px;
}

.services-text {
  width: 50%;
  padding-right: 90px;
}

.services-subtitle {
  font-size: 16px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 30px;
  line-height: 1.2;
  color: #333333;
}

.services-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input {
  padding: 25px;
  width: 240px;
  height: 65px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  outline: 0;
}

.input_data {
  margin-right: 10px;
}

.btn {
  width: 495px;
  height: 70px;
  background-color: #ffd200;
  border-radius: 10px;
  border: none;
  margin: 30px 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  color: #333333;
  outline: 0;
  -webkit-transition: background .2s;
  transition: background .2s;
}

.btn:hover {
  background-color: #fbc02d;
}

.contact {
  font-size: 15px;
  font-weight: 700;
  color: #333333;
}

.inf {
  font-size: 15px;
  font-weight: 300;
  color: #333333;
  line-height: 24px;
  margin: 0;
}

@media (max-width: 768px) {
  .services {
    padding: 50px 0;
  }
  .services::before {
    content: '';
    width: 100%;
    height: 100%;
  }
  .services-text {
    width: 100%;
    padding-right: 0;
  }
  .services-title {
    font-size: 18px;
    line-height: 1.2;
  }
  .services-subtitle {
    font-size: 14px;
    line-height: 1.2;
  }
  .services-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .input {
    width: 275px;
    height: 65px;
    border: 1px solid #dddddd;
    border-radius: 10px;
  }
  .input_data {
    margin-bottom: 5px;
  }
  .btn {
    width: 275px;
    height: 70px;
    background-color: #ffd200;
    border-radius: 10px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: #333333;
    padding: 20px 45px;
  }
  .inf {
    margin-bottom: 10px;
  }
}

.price {
  padding: 90px 0;
}

.price-title {
  font-size: 30px;
  font-weight: 700;
  color: #333333;
  text-align: center;
  line-height: 1.2;
  padding: 0 313px;
}

.price-subtitle {
  font-size: 20px;
  font-weight: 100;
  color: #000000;
  text-align: center;
  line-height: 45px;
  margin: 55px 0;
}

.price-block-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (370px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 370px);
  grid-gap: 28px;
}

.price-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #333333;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
  position: relative;
}

.price-link:after {
  content: "";
  width: 100%;
  height: 3px;
  display: block;
  background-color: #ffd200;
  position: absolute;
}

.price-link:hover:after {
  height: 6px;
}

.price-grid {
  width: 370px;
  height: 260px;
}

.price-block {
  border: 1px solid #f0f0f0;
}

.price-block-img {
  -webkit-transition: .3s;
  transition: .3s;
  width: 370px;
  height: 260px;
}

.price-block-img:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(#f0f0f0));
  background-image: linear-gradient(to top, #ffd200 0%, #f0f0f0 100%);
}

.price-block-bottom {
  padding: 38px 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-text {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 300;
  color: #000000;
}

.link {
  width: 100px;
}

@media (max-width: 768px) {
  .price-title {
    font-size: 18px;
    padding: 0 20px;
  }
  .price-subtitle {
    font-size: 14px;
    margin-bottom: 60px;
    margin-top: 25px;
  }
  .price-grid {
    width: 271px;
    height: 191px;
  }
  .price-text {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .price-block {
    width: 271px;
    height: 300px;
  }
  .price-block-img {
    width: 271px;
    height: 191px;
  }
  .price-block-bottom {
    padding: 28px 37px;
  }
  .price-block-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: none;
        grid-template-columns: none;
    grid-gap: 28px;
  }
  .price-link {
    font-size: 16px;
  }
}

.steps-title {
  font-size: 30px;
  font-weight: 700;
  color: #333333;
  line-height: 45px;
  text-align: center;
  padding: 0 248px;
}

.steps-subtitle {
  font-size: 20px;
  font-weight: 100;
  color: #000000;
  text-align: center;
  margin: 55px 0;
}

.steps-block-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 90px;
}

.steps-img {
  margin-bottom: 30px;
  border: 3px solid;
  border-color: #ffd200;
  border-radius: 50px;
  padding: 15px;
}

.steps-block-img {
  text-align: center;
}

.steps-text {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #000000;
}

@media (max-width: 768px) {
  .steps-title {
    font-size: 18px;
    line-height: 1.2;
    padding: 0 20px;
  }
  .steps-subtitle {
    font-size: 14px;
    margin: 30px 0;
  }
  .steps_arrow {
    display: none;
  }
  .steps-block-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }
  .steps-block {
    margin-bottom: 30px;
  }
}

.information {
  background-color: #ffc000;
  margin-bottom: 90px;
}

.information-text {
  font-size: 32px;
  font-weight: 300;
  color: #000000;
  text-align: center;
  padding: 90px 0;
  line-height: 50px;
}

@media (max-width: 768px) {
  .information {
    margin-bottom: 50px;
  }
  .information-text {
    font-size: 18px;
    line-height: 1.2;
    padding: 75px 14px;
  }
}

.inf_photo_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (370px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 370px);
  grid-gap: 28px;
  margin-bottom: 90px;
}

.inf_photo_block {
  position: relative;
}

.inf_photo {
  width: 370px;
  height: 410px;
}

.inf_photo_text {
  position: absolute;
  left: 0;
  text-align: left;
  padding-top: 25px;
  padding-left: 25px;
  font-size: 16px;
  line-height: 23px;
  font-weight: 300;
  color: #000000;
}

.strong-text {
  font-size: 16px;
  line-height: 23px;
  font-weight: 500;
  color: #000000;
}

@media (max-width: 768px) {
  .inf_photo_grid {
    margin-bottom: 50px;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
  .inf_photo {
    width: 272px;
    height: 300px;
  }
  .inf_photo_text {
    font-size: 12px;
    line-height: 17px;
    padding: 20px 15px;
  }
  .strong-text {
    font-size: 12px;
  }
}

.guarantee-title {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  padding: 0 241px;
}

.guarantee_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (370px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 370px);
  grid-gap: 28px;
  margin-top: 90px;
  margin-bottom: 230px;
}

.guarantee_text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  color: #000000;
  text-align: center;
  margin-top: 40px;
}

.guarantee_block {
  text-align: center;
}

.guarantee_photo {
  width: 270px;
  height: 360px;
}

@media (max-width: 768px) {
  .guarantee_grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
  .guarantee-title {
    font-size: 18px;
    line-height: 1.2;
    padding: 0 20px;
  }
  .guarantee_text {
    font-size: 14px;
    line-height: 20px;
  }
}

.request {
  background: #ffc000 url(../img/request_background.png) repeat-y center right;
  background-size: 50%;
  padding: 90px 0;
}

.request-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.request_text {
  width: 50%;
}

.request_titles {
  font-size: 22px;
  line-height: 33px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 50px;
}

.request_subtitles {
  font-size: 16px;
  font-weight: 300;
  color: #000000;
}

.request-inf {
  text-align: center;
}

.request-inf_text {
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  color: #333333;
}

.request-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.request_input {
  padding: 25px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  outline: 0;
  width: 370px;
  height: 65px;
}

.request_input_data {
  margin-bottom: 15px;
}

.request_btn {
  width: 368px;
  height: 70px;
  background-color: #ffd200;
  border-radius: 10px;
  border: none;
  margin: 30px 0;
  cursor: pointer;
}

.request_btn:hover {
  background-color: #fbc02d;
}

.request-questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 90px;
}

.request-questions_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 30px;
}

.request-questions_text {
  padding-left: 30px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
  color: #000000;
}

.request-icon {
  border: 3px solid;
  border-color: black;
  border-radius: 50px;
  width: 35px;
  height: 35px;
}

.request-icon_num {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  padding-top: 9px;
}

.input-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .request {
    background: #ffc000 url(../img/request_background.png) repeat-x bottom;
    background-size: 100%;
    padding: 45px 0;
  }
  .request-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .request_titles {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  .request_subtitles {
    font-size: 14px;
    line-height: 1.2;
  }
  .request-questions_text {
    font-size: 14px;
  }
  .request-icon {
    border: 2px solid;
  }
  .request-questions {
    margin-top: 35px;
  }
}
/*# sourceMappingURL=style.css.map */